<div class="skill-list well">
	<form class="form-search">
	  <input type="text" class="input-medium search-query" placeholder="Search Skills...">
	</form>
{{#each group in controller.groupsList}}
	<div class="clearfix" >
		<a {{bindAttr href="group.idslug"}} data-toggle="collapse">
			<h4 class="pull-left">{{group.title}}</h4>
			<i class="icon-chevron-down pull-right"></i>
		</a>
	</div>
	<div {{bindAttr id="group.slug"}} class="collapse in">
		<ul class="nav nav-pills nav-stacked">
			{{#each skill in group.skills}}
	    		{{view App.SkillView}}
			{{/each}}
		</ul>
	</div>
{{/each}}
</div>

